# ---------- Ethereum / Sepolia ---------
PRIVATE_KEY=
SEPOLIA_RPC=
RESOLVER_ADDRESS=

# ---------- Escrow Factory Deployment ---------
LOP=
FEE_TOKEN=
ACCESS_TOKEN=
OWNER=
RESCUE_DELAY_SRC=3600
RESCUE_DELAY_DST=3600

# ---------- Sui Testnet ---------------
SUI_WS_ENDPOINT=wss://fullnode.testnet.sui.io:443
SUI_RPC=https://fullnode.testnet.sui.io
SUI_KEYPAIR=
FUSION_LOCKER_PACKAGE=

Mock USDC= 0x12Ea828010d1CD40DD091F7EE23C819C2E5B3A44
EscrowFactory= 0x9aF4CD71878aF8750505BcEF0512AB9816B20e37
Sui Locker package= 0xe938ff5157cdac9e960fee5155b347058efbde4e9a44be4e84dea99f585e21ec
